---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Nav.astro';
import Home from '../components/Home.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Services from '../components/Services.astro';
import Portfolio from "../components/Portfolio.astro";
---

<Layout title="Flavius Cojocariu | Web developer">
    <Navbar></Navbar>
    <main class="container">
        <Home/>
        <About/>
        <Services/>
        <Portfolio/>
        <Contact/>
    </main>
    <Footer></Footer>
</Layout>

<script>

</script>
