---
import {getLang, translate} from "../i18n";
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Nav.astro';
type section = {
    id: string,
    title: string;
    year: string;
    employer: string;
    body?: string;
    bodyList?: Array<string>;
    technologies?: string[];
};
type content = {
    title: string;
    sections: section[];
}

const lang = getLang(Astro.url);
const t = translate(lang);

const education: content = {
    title: 'Education',
    sections: [{
        id: 'wu-tm-edu',
        title: 'Computer Science Studies',
        employer: 'West University, Timisoara, Romania',
        year: '2009-2012',
        body: 'BA: Development of an Web App'
    }]
};

const workExperience: content = {
    title: 'Work Experience',
    sections: [
        {
            id: 'iu-group-em',
            title: 'Engineering Manager',
            employer: 'IU Group, München, Germany',
            year: 'January, 2024 - Present',
            bodyList: [
                'Conducting <span class="fw-bold">code reviews</span>, <span class="fw-bold">small development tasks</span>, and <span class="fw-bold">pair programming</span> to support the team with minor fixes or configurations.',
                'Facilitating <span class="fw-bold">collaboration and communication</span> with product and business teams to ensure alignment on priorities and goals.',
                'Coordinating <span class="fw-bold">cross-cluster alignments</span> and engaging in <span class="fw-bold">strategic planning</span> with the Product Owner team, working within an <span class="fw-bold">OKR-driven</span> framework.',
                '<span class="fw-bold">Restructuring team processes and organization</span> by implementing a tailored sprint process that combines XP and Scrum methodologies.',
                'Conducting regular <span class="fw-bold">1-on-1 meetings</span> focused on <span class="fw-bold">team and individual development, career growth, and performance</span>.',
                'Leading <span class="fw-bold">interviewing and hiring</span> processes to expand the team, currently comprising <span class="fw-bold">6 engineers</span>.',
                'Engaging in <span class="fw-bold">close collaboration with the Head of Engineering and Enterprise Architects</span> on technical and strategic initiatives.',
                'Overseeing <span class="fw-bold">DORA metrics</span> to track and optimize team performance and engineering efficiency.',
                'Partially handling <span class="fw-bold">project management tasks</span> to ensure smooth project execution.'
            ],
            technologies: [
                "Typescript", "NestJS", "Mongoose", "Docker", "MySQL", "MongoDB",
                "OpenAPI", "Vue.js v3", "SingleSPA", "Node.js", "Fastify",
                "JavaScript", "CI/CD", "GitLab CI/CD", "DORA Metrics", "CypressJS",
                "Jest", "SCSS", "HTML5", "XP+Scrum", "Agile", "Jira", "GitLab"
            ]
        },
        {
            id: 'remberg-sswe',
            title: 'Senior Software Engineer',
            employer: 'remberg GmbH, München, Germany',
            year: 'January, 2022 - December, 2023',
            bodyList: ['Engaging in technical discussions and contributing to architectural decision-making;',
                ' Refactoring and improving code quality by rewriting backend features to NestJS and conducting code' +
                ' reviews;',
                ' Assuming the role of lead developer on two key projects, involving the migration of email functionality' +
                ' from Mailgun to AWS SES and the addition of new capabilities to the file management feature, including' +
                ' the implementation of a folder structure. Making pivotal architectural decisions and choosing the most' +
                ' suitable technologies to address project requirements and support software scalability;',
                ' Participating in the hiring process by conducting screening and technical interviews. Assisting in' +
                ' onboarding new team members to the projects and acquainting them with the current software' + ' and' +
                ' system architectures.;', 'Engaging in technical discussions and contributing to architectural decision-making.'],
            technologies: ['Typescript', 'NestJS', 'ExpressJs', 'Mongoose', 'Docker', 'NxJs', 'MongoDB', 'OpenAPI', 'Angular >=v14', 'NgRX', 'Angular Material UI', 'Jest', 'CypressJS', 'SCSS', 'Agile Development, Jira, Gitlab, Docker']
        },
        {
            id: 'ryd-swe-lbe',
            title: 'Software Engineer - Lead Backend Engineer',
            employer: 'ThinxNet GmbH, München, Germany',
            year: 'June, 2019 - December, 2021',
            bodyList: ['Advancing the API-Gateway and transitioning old monolith features to new Microservices;',
                ' Daily codebase maintenance and refactoring, modernizing older web applications (frontend and' +
                ' backend) with updated technologies;',
                ' Implementing MVPs and proof of concepts;',
                'Building a backend team of 5 from scratch, actively involved in the hiring process to ensure' +
                ' alignment with the company\'s vision;',
                ' Onboarding team members and familiarizing them with current software and system architectures;',
                ' Collaborating with Product Owners and the Head of Software to plan sprint backlogs to meet company goals;',
                'Collaborating with Product Owners and the Head of Software to plan sprint backlogs to meet company' +
                ' goals; ', 'Mentoring junior developers, guiding the team through technical challenges, and overseeing system enhancements;'],
            technologies: ['Javascript/Typescript/Node/Express/NestJS/Mongoose/TypeORM',
                'MongoDB/PostgreSQL/Redis/RabbitMQ/Kafka/API-Gateway', 'Mocha/Chai/Sinon/Jest',
                'bash/lwc', 'HTML/SCSS/Vuejs', 'Agile Development, Jira, Gitlab, Docker']
        },
        {
            id: 'travador-fwd',
            title: 'Fullstack Web Developer',
            employer: 'Travador GmbH, München, Germany',
            year: 'November, 2016 - May, 2019',
            bodyList: ['Developing and implementing new features and UI components in collaboration with the design' +
            ' department;',
                ' Daily maintenance and code refactoring for the existing codebase;',
                ' Leading the planning process for enhancing the booking platform, website, and full-stack Microservices development;'],
            technologies: ['HTML5/CSS3(Twig, SCSS, EJS)', 'Javascript/ES6/Vuejs/jQuery/AngularJS/Nodejs/Webpack',
                'CakePHP/CackeLaravel/Lumen/MySQL/', 'AWS(Lambda, S3, Cloudfront)', 'Agile, Jira, Git']

        },
        {
            id: 'smal-wd',
            title: 'Web Developer',
            employer: 'SMAL GmbH(former Ziba Design), München, Germany',
            year: 'February, 2015 - October, 2016',
            bodyList: ['Developed responsive prototypes and web applications;', 'Actively participated in client planning sessions and technical discussions;',
                ' Conducted thorough code reviews to maintain high-quality standards;'],
            technologies: ['HTML5/CSS3(LESS/SASS)', 'Javascript/jQuery/AngularJS',
                'PHP(cakephp)/MySQL/Drupal(frontend part)']
        },
        {
            id: 'de-ro-wd',
            title: 'Web Developer',
            employer: 'Multiple Employers, Germany and Romania',
            year: 'April, 2012 - February, 2015',
            bodyList: [
                'Implementation of product white labels. I had learned PHP / MySQL, part of the internship. Company:' +
                ' Seopa Ltd Timisoara,' +
                ' Romania;',
                'Implementation of online questionnaires in ConfirmIT. Implementation of a knowledge base on the' +
                ' intranet, with code snippets. Implementation of responsive landing pages and layouts for' +
                ' questionnaires. Translation of the Actionscript tool in HTML / CSS / JavaScript / jQuery.' +
                'For 3 weeks I taught my colleagues who work in Actionscript a basic course in HTML / CSS and' +
                ' Javascript / jQuery. Company: Toluna Group Timisoara, Romania',
                'Implementation of new features for an existing hybrid mobile application. Deployment and simple' +
                ' maintenance processes of Ubuntu Server. Implementation of responsive websites. Company: BLIPhead' +
                ' Gmbh München, Germany'
            ],
            technologies: ['PHP', 'MySQL', 'Javascript', 'jQuery', 'hammerjs', 'GreenSock js', 'html', 'css3', 'bootstrap', 'sass/compass', 'gulp', 'ionic', 'git, jira']
        },
    ]
};
---

<Layout title="Flavius Cojocariu | Web developer - resume">
    <Navbar defaultActiveItem="Resume"></Navbar>
    <main class="container text-light">
        <div id="resume" class="d-flex px-1 py-5 justify-content-center section-height section col-12">
            <div class="d-flex flex-fill flex-column align-items-center g-5 py-5 col-sm-12">
                <div class="col-lg-12">
                    <p class="fs-1 mb-3 flex-fill text-warning fw-light text-center section-title d-print-none">
                        {t("resume.title")}
                    </p>
                </div>
                <div class="d-flex flex-column mb-3 justify-content-center align-items-center align-self-center col-12">
                    <div class="d-flex flex-column justify-content-center p-5 align-items-center align-self-center col-10">
                        <p class="fs-3 mb-3 text-warning fw-light text-center vh-5 max-vh-5 min-vh-5 d-print-none">
                            {workExperience.title}
                            <br/>
                            <a href="javascript: window.print();" class="fs-4 ms-2 text-warning d-print-none">
                                {t('resume.download')}
                            </a>
                        </p>
                        <div class="fs-6 timeline-section d-flex flex-column">
                            {
                                workExperience.sections.map((section: section) => (
                                        <div class="timeline-item d-flex flex-column justify-content-around align-items-center" id={section.id}>
                                            <span class="fs-3">{section.title}</span>
                                            <span class="fs-4">{section.employer}</span>
                                            <span class="fs-4">{section.year}</span>
                                            <span class="timeline-item-body">
                                                <ul>
                                                    {
                                                        section.bodyList?.map((item) => (
                                                                <li set:html={item}></li>
                                                        ))
                                                    }
                                                </ul>
                                            </span>
                                            <span>
                                                {t('resume.techUsed')}:
                                                {
                                                    section.technologies?.map((item) => (
                                                            <span class="badge bg-secondary m-1 text-dark"> &nbsp;{item}&nbsp; </span>
                                                    ))
                                                }
                                            </span>
                                        </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column mb-3 justify-content-center align-items-center align-self-center col-12">
                    <div class="d-flex flex-column justify-content-center p-5 align-items-center align-self-center col-10">
                        <p class="fs-3 mb-3 text-warning fw-light text-center vh-5 max-vh-5 min-vh-5">
                            {education.title}
                        </p>
                        <div class="fs-6 timeline-section d-flex flex-column">
                            {
                                education.sections.map((edSection: section) => (
                                        <div class="timeline-item d-flex flex-column justify-content-around align-items-center" id={edSection.id}>
                                            <span class="fs-3">{edSection.title}</span>
                                            <span class="fs-4">{edSection.employer}</span>
                                            <span class="fs-4">{edSection.year}</span>
                                            <span class="timeline-item-body">
                                                {edSection.body}
                                            </span>
                                        </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <Footer></Footer>
</Layout>

<style>
    .section-title {
        position: relative;
        padding-bottom: 8px;
    }

    .section-title::after {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        width: 5vh;
        height: 1px;
        border-bottom: 7px solid #ffcc00;
        content: "";
    }

    .timeline-section {
        width: 100%;
        padding: 8px 8px 8px 25px;
    }

    .timeline-section .timeline-item {
        padding: 16px;
        margin: 16px 16px 16px 25px;
        width: 100%;
        background: #242a37;
        line-height: 2.5em !important;
    }

    .timeline-item-body, .timeline-item-body ul > li {
        padding: 8px;
        line-height: 1.75em !important;
    }

    .vh-5 {
        height: 5vh;
    }

    .max-vh-5 {
        max-height: 5vh;
    }

    .min-vh-5 {
        min-height: 5vh;
    }

    @media screen and (min-width: 900px) {

        .timeline-section {
            width: 100%;
        }

        .timeline-item {
            width: 750px;
            min-width: 750px;
            border: 2px solid #ff8900;
            position: relative;
        }

        .timeline-section {
            border-left: 5px solid #ff8900;
            padding-left: 8px;
        }

        .timeline-section .timeline-item::before {
            content: "";
            border: 3px solid #ff8900;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            position: absolute;
            left: -49px;
            top: 15px;
            background: #242a37;
        }

        .timeline-section .timeline-item::after {
            content: "";
            width: 25px;
            height: 3px;
            position: absolute;
            left: -25px;
            top: 26px;
            background: #ff8900;
        }
    }


</style>
