---
import {getLang, translate} from "../i18n/";
const lang = getLang(Astro.url);
const t = translate(lang);
const frontendServices = t('services.frontend.content') as string[];
const backendServices = t('services.backend.content') as string[];
const consultancyServices = t('services.consultancy.content') as string[];
---
<!--<
                    <h3 class="fs-2 text-body-emphasis text-light">{t('services.frontend.title')}</h3>
                    {
                        frontendServices.map((item) => (
                            <span class="badge bg-secondary me-1"> {item} </span>
                        ))
                    }
                   -->
<section id="services" class="d-flex col-xxl-12 px-1 py-5 justify-content-center section-height">
    <div class="row flex-fill flex-lg-row align-items-center g-5 py-5">
        <div class="col-lg-12">
            <p class="fs-1 mb-3 flex-fill text-warning fw-light text-center section-title">
                {t('services.title')}
            </p>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <!-- Frontend Development Section -->
                <div class="col-md-4">
                    <h3>
                        <span class="badge"
                              style="background-color: #ff8900; color: #242a37;">{t('services.frontend.title')}</span>
                    </h3>
                    <p class="mt-3" style="color: #f1f2f6;">{(t('services.frontend.description'))}</p>
                    <ul class="list-unstyled" style="color: #f1f2f6;">
                        <li>
                            {
                                frontendServices.map((item) => (
                                        <Fragment set:html={item}/> <br/>
                                ))
                            }
                        </li>

                    </ul>
                </div>

                <!-- Backend Development Section -->
                <div class="col-md-4">
                    <h3>
                        <span class="badge bg-danger text-dark">{t('services.backend.title')}</span>
                    </h3>
                    <p class="mt-3" style="color: #f1f2f6;">{t('service.backend.description')}</p>
                    <ul class="list-unstyled" style="color: #f1f2f6;">
                        <li>
                            {
                                backendServices.map((item) => (
                                        <Fragment set:html={item}/> <br/>
                                ))
                            }
                        </li>
                    </ul>
                </div>

                <!-- Consulting Section -->
                <div class="col-md-4">
                    <h3>
                        <span class="badge "
                              style="background-color: #ff8900; color: #242a37;">{t('services.consultancy.title')}</span>
                    </h3>
                    <p class="mt-3" style="color: #f1f2f6;">{t('services.consultancy.description')}</p>
                    <ul class="list-unstyled" style="color: #f1f2f6;">
                        <li>
                            {
                                consultancyServices.map((item) => (
                                        <Fragment set:html={item}/> <br/>
                                ))
                            }
                        </li>

                    </ul>
                </div>
            </div>

            <!-- Call to Action -->
            <div class="text-center mt-5">
                <a href="#contact" class="card-link btn text-warning">{t('contact.to.btn')}</a>
            </div>
        </div>
    </div>
</section>


<style>
    .section-title {
        position: relative;
        padding-bottom: 8px;
    }

    .section-title::after {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        width: 5vh;
        height: 1px;
        border-bottom: 7px solid #ffcc00;
        content: "";
    }
</style>