---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import Navbar from '../../components/Nav.astro';
import {getLang, translate} from "../../i18n";
const lang = getLang(Astro.url);
const t = translate(lang);
type section = {
    id?: string;
    title: string;
    year: string;
    employer: string;
    body?: string;
    bodyList?: Array<string>;
    technologies?: string[];
};
type content = {
    title: string;
    sections: section[];
}
const education: content = {
    title: 'Studium',
    sections: [{
        title: 'Informatik',
        employer: 'West-Universität von Timisoara, Rumänien',
        year: '2009-2012',
        body: 'BA, Entwicklung einer Web-App'
    }]
};

const workExperience: content = {
    title: 'Work Experience',
    sections: [
        {
            id: 'iu-group-em',
            title: 'Engineering Manager',
            employer: 'IU Group, München, Germany',
            year: 'January, 2024 - Present',
            bodyList: [
                "Durchführung von <span class=\"fw-bold\">Code-Reviews</span>, <span class=\"fw-bold\">kleinen Entwicklungsaufgaben</span> und <span class=\"fw-bold\">Pair Programming</span>, um das Team bei kleineren Fehlerbehebungen oder Konfigurationen zu unterstützen.",
                "Förderung der <span class=\"fw-bold\">Zusammenarbeit und Kommunikation</span> mit Produkt- und Geschäftsteams, um sicherzustellen, dass die Prioritäten und Ziele übereinstimmen.",
                "Koordination von <span class=\"fw-bold\">Cluster-übergreifenden Abstimmungen</span> und Teilnahme an der <span class=\"fw-bold\">strategischen Planung</span> mit dem Product Owner-Team im Rahmen eines <span class=\"fw-bold\">OKR-gesteuerten</span> Prozesses.",
                "<span class=\"fw-bold\">Restrukturierung der Teamprozesse und Organisation</span> durch Einführung eines maßgeschneiderten Sprint-Prozesses, der XP und Scrum kombiniert.",
                "Regelmäßige Durchführung von <span class=\"fw-bold\">1-zu-1-Meetings</span> mit Schwerpunkt auf <span class=\"fw-bold\">Teamentwicklung, persönlichem Wachstum und Leistung</span>.",
                "Leitung des <span class=\"fw-bold\">Einstellungs- und Bewerbungsprozesses</span> zur Teamerweiterung, aktuell bestehend aus <span class=\"fw-bold\">6 Ingenieuren</span>.",
                "Enge <span class=\"fw-bold\">Zusammenarbeit mit dem Head of Engineering und den Enterprise Architects</span> an technischen und strategischen Initiativen.",
                "Überwachung der <span class=\"fw-bold\">DORA-Metriken</span>, um die Teamleistung und Effizienz der Entwicklung zu optimieren.",
                "Gelegentlich Übernahme von <span class=\"fw-bold\">Projektmanagement-Aufgaben</span>, um eine reibungslose Projektabwicklung zu gewährleisten."
            ],
            technologies: [
                "Typescript", "NestJS", "Mongoose", "Docker", "MySQL", "MongoDB",
                "OpenAPI", "Vue.js v3", "SingleSPA", "Node.js", "Fastify",
                "JavaScript", "CI/CD", "GitLab CI/CD", "DORA Metrics", "CypressJS",
                "Jest", "SCSS", "HTML5", "XP+Scrum", "Agile", "Jira", "GitLab"
            ]
        },
        {
            id: 'remberg-sswe',
            title: 'Senior Software Engineer',
            employer: 'remberg GmbH, München, Germany',
            year: 'Januar, 2022 - Januar, 2024',
            bodyList: ['Aktive Beteiligung an technischen Gesprächen und Mitwirkung bei der Entscheidungsfindung in der Architektur;',
                ' Verbesserung der Code-Qualität durch Überarbeitung von Backend-Funktionen in NestJS und das Durchführen von Code-Überprüfungen;',
                ' Übernahme der Rolle des Hauptentwicklers in zwei wichtigen Projekten. Dies beinhaltet die Migration der E-Mail-Funktionalität von Mailgun zu AWS SES und die Hinzufügung neuer Funktionen zur Dateiverwaltung, einschließlich der Erstellung einer Ordnerstruktur. Das Treffen entscheidender architektonischer Entscheidungen und die Auswahl geeigneter Technologien zur Erfüllung der Projektanforderungen und zur Unterstützung der Skalierbarkeit der Software;',
                ' Teilnahme am Einstellungsprozess durch die Durchführung von Vorstellungsgesprächen und technischen Interviews. Unterstützung bei der Integration neuer Teammitglieder in die Projekte und Vertrautmachen mit der aktuellen Software- und Systemarchitektur;'],
            technologies: ['Typescript', 'NestJS', 'ExpressJs', 'Mongoose', 'Docker', 'NxJs', 'MongoDB', 'OpenAPI', 'Angular >=v14', 'NgRX', 'Angular Material UI', 'Jest', 'CypressJS', 'SCSS', 'Agile Development, Jira, Gitlab, Docker']
        },
        {
            id: 'ryd-swe-lbe',
            title: 'Software Engineer - Lead Backend Engineer',
            employer: 'ThinxNet GmbH, München, Germany',
            year: 'June, 2019 - Dezember, 2021',
            bodyList: ['Weiterentwicklung des API-Gateways und Umstellung von alten monolithischen Funktionen auf neue Microservices;',
                ' Tägliche Codebase-Wartung und Refactoring, Modernisierung älterer Webanwendungen (Frontend und Backend) mit aktuellen Technologien;',
                ' Implementierung von MVPs und Proof of Concepts;',
                ' Aufbau eines aus 5 Personen bestehenden Backend-Teams von Grund auf, aktive Beteiligung am Einstellungsprozess, um die Übereinstimmung mit der Vision des Unternehmens sicherzustellen;',
                ' Onboarding von Teammitgliedern und Einarbeitung in die aktuellen Software- und Systemarchitekturen;',
                ' Zusammenarbeit mit den Product Ownern und dem Head of Software bei der Planung von Sprint Backlogs, um die Unternehmensziele zu erreichen;',
                ' Betreuung jüngerer Entwickler, Anleitung des Teams bei technischen Herausforderungen und Beaufsichtigung von Systemverbesserungen;'],
            technologies: ['Javascript/Typescript/Node/Express/NestJS/Mongoose/TypeORM',
                'MongoDB/PostgreSQL/Redis/RabbitMQ/Kafka/API-Gateway', 'Mocha/Chai/Sinon/Jest',
                'bash/lwc', 'HTML/SCSS/Vuejs', 'Agile Development, Jira, Gitlab, Docker']
        },
        {
            id: 'travador-fwd',
            title: 'Fullstack Web Developer',
            employer: 'Travador GmbH, München, Germany',
            year: 'November, 2016 - Mai, 2019',
            bodyList: ['Entwicklung und Implementierung neuer Funktionen und UI-Komponenten in Zusammenarbeit mit der Design-Abteilung;',
                ' Tägliche Systempflege und Code-Refactoring für die bestehende Code-Basis;',
                ' Leitung des Planungsprozesses für die Verbesserung der Buchungsplattform, der Website und der Full-Stack-Microservices-Entwicklung;'],
            technologies: ['HTML5/CSS3(Twig, SCSS, EJS)', 'Javascript/ES6/Vuejs/jQuery/AngularJS/Nodejs/Webpack',
                'CakePHP/CackeLaravel/Lumen/MySQL/', 'AWS(Lambda, S3, Cloudfront)', 'Agile, Jira, Git']

        },
        {
            id: 'smal-wd',
            title: 'Web Developer',
            employer: 'SMAL GmbH(former Ziba Design), München, Germany',
            year: 'März, 2015 - Oktober, 2016',
            bodyList: [
                ' Entwicklung von responsiven Prototypen und Webanwendungen;',
                ' Aktive Teilnahme an Kundenplanungssitzungen und technischen Diskussionen;',
                ' Durchführen von gründlichen Code-Reviews zur Aufrechterhaltung hoher Qualitätsstandards;'],
            technologies: ['HTML5/CSS3(LESS/SASS)', 'Javascript/jQuery/AngularJS',
                'PHP(cakephp)/MySQL/Drupal(frontend part)']
        },
        {
            id: 'de-ro-wd',
            title: 'Web Developer',
            employer: 'Multiple Employers, Germany and Romania',
            year: 'April, 2012 - February, 2015',
            bodyList: [
                ' Implementierung von Produkt-White-Labels. Ich hatte PHP / MySQL gelernt, Teil des Praktikums. Unternehmen: Seopa Ltd, Timisoara, Rumänien;',
                'Implementierung von Online-Fragebögen in ConfirmIT. Implementierung einer Wissensdatenbank im Intranet, mit Code-Snippets. Implementierung von responsiven Landing Pages und Layouts für Fragebögen. Übersetzung des Actionscript-Tools in HTML / CSS / JavaScript / jQuery. 3 Wochen lang habe ich meinen Kollegen, die mit Actionscript arbeiten, einen Grundkurs in HTML / CSS und Javascript / jQuery gegeben.  Unternehmen: Toluna Group, Timisoara, Rumänien;',
                ' Implementierung von neuen Funktionen für eine bestehende hybride mobile Anwendung. Bereitstellung und einfache Wartungsprozesse von Ubuntu Server. Implementierung von responsiven Websites. Unternehmen: BLIPhead Gmbh München, Germany;'
            ],
            technologies: ['PHP', 'MySQL', 'Javascript', 'jQuery', 'hammerjs', 'GreenSock js', 'html', 'css3', 'bootstrap', 'sass/compass', 'gulp', 'ionic', 'git, jira']
        },
    ]
};
---

<Layout title="Flavius Cojocariu | Web developer - resume">
    <Navbar defaultActiveItem={t('nav.resume')}></Navbar>
    <main class="container text-light">
        <div id="resume" class="d-flex px-1 py-5 justify-content-center section-height section col-12">
            <div class="d-flex flex-fill flex-column align-items-center g-5 py-5 col-sm-12">
                <div class="col-lg-12">
                    <p class="fs-1 mb-3 flex-fill text-warning fw-light text-center section-title d-print-noneä">
                        {t("resume.title")}
                    </p>
                </div>
                <div class="d-flex flex-column mb-3 justify-content-center align-items-center align-self-center col-12">
                    <div class="d-flex flex-column justify-content-center p-5 align-items-center align-self-center col-10">
                        <p class="fs-3 mb-3 text-warning fw-light text-center vh-5 max-vh-5 min-vh-5 d-print-none">
                            {workExperience.title}
                            <br/>
                            <a href="javascript:window.print();"  class="fs-4 ms-2 text-warning d-print-none">
                                {t('resume.download')}
                            </a>
                        </p>
                        <div class="fs-6 timeline-section d-flex flex-column">
                            {
                                workExperience.sections.map((section) => (
                                        <div class="timeline-item d-flex flex-column justify-content-around align-items-center"
                                             id={section.id}>
                                            <span class="fs-3">{section.title}</span>
                                            <span class="fs-4">{section.employer}</span>
                                            <span class="fs-4">{section.year}</span>
                                            <span class="timeline-item-body">
                                                <ul>
                                                    {
                                                        section.bodyList?.map((item) => (
                                                                <li set:html={item}></li>
                                                        ))
                                                    }
                                                </ul>
                                            </span>
                                            <span>
                                                {t('resume.techUsed')}:
                                                {
                                                    section.technologies?.map((item) => (
                                                            <span class="badge bg-secondary m-1 text-dark"> &nbsp;{item}&nbsp; </span>
                                                    ))
                                                }
                                            </span>
                                        </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column mb-3 justify-content-center align-items-center align-self-center col-12">
                    <div class="d-flex flex-column justify-content-center p-5 align-items-center align-self-center col-10">
                        <p class="fs-3 mb-3 text-warning fw-light text-center vh-5 max-vh-5 min-vh-5">
                            {education.title}
                        </p>
                        <div class="fs-6 timeline-section d-flex flex-column">
                            {
                                education.sections.map((section) => (
                                        <div class="timeline-item d-flex flex-column justify-content-around align-items-center">
                                            <span class="fs-3">{section.title}</span>
                                            <span class="fs-4">{section.employer}</span>
                                            <span class="fs-4">{section.year}</span>
                                            <span class="timeline-item-body">
                                                {section.body}
                                            </span>
                                        </div>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <Footer></Footer>
</Layout>

<style>
    .section-title {
        position: relative;
        padding-bottom: 8px;
    }

    .section-title::after {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        width: 5vh;
        height: 1px;
        border-bottom: 7px solid #ffcc00;
        content: "";
    }

    .timeline-section {
        width: 100%;
        padding: 8px 8px 8px 25px;
    }

    .timeline-section .timeline-item {
        padding: 16px;
        margin: 16px 16px 16px 25px;
        width: 100%;
        background: #242a37;
        line-height: 2.5em !important;
    }

    .timeline-item-body, .timeline-item-body ul > li {
        padding: 8px;
        line-height: 1.75em !important;
    }

    .vh-5 {
        height: 5vh;
    }

    .max-vh-5 {
        max-height: 5vh;
    }

    .min-vh-5 {
        min-height: 5vh;
    }

    .badge.bg-primary {
        background: #f1f2f6 !important;
        margin: 4px;
    }

    @media screen and (min-width: 900px) {

        .timeline-section {
            width: 100%;
        }

        .timeline-item {
            width: 750px;
            min-width: 750px;
            border: 2px solid #ff8900;
            position: relative;
        }

        .timeline-section {
            border-left: 5px solid #ff8900;
            padding-left: 8px;
        }

        .timeline-section .timeline-item::before {
            content: "";
            border: 3px solid #ff8900;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            position: absolute;
            left: -49px;
            top: 15px;
            background: #242a37;
        }

        .timeline-section .timeline-item::after {
            content: "";
            width: 25px;
            height: 3px;
            position: absolute;
            left: -25px;
            top: 26px;
            background: #ff8900;
        }
    }

</style>