---
import print from '../styles/print.css?url';
import {getLang} from "../i18n";
const lang = getLang(Astro.url);
interface Props {
    title: string;
}
const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description"
          content="Welcome to the professional portfolio of a seasoned web developer. Explore a variety of projects that demonstrate a deep understanding of modern web technologies and software engineering principles">
    <meta name="viewport" content="width=device-width"/>
    <meta name="author" content="Flavius Cojocariu"/>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <link rel="icon" type="image/svg+xml" href="/assets/projects/terminal.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="canonical" href={Astro.url}/>
    <title>{title}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Fira+Sans:wght@200;500&family=Inter:wght@200;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href={print} media="print"/>
</head>
<body class="bg-dark" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
<slot/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
    }

    body {
        font-family: 'Fira Mono', monospace !important;
        position: relative;
    }

    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    }

    .text-gradient {
        background-color: rgba(255, 204, 0, 1);
        background-image: linear-gradient(50deg, rgba(255, 204, 0, 1) 50%, rgba(255, 137, 0, 1) 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: inherit;
        -moz-text-fill-color: transparent;
    }

    .active.text-warning {
        color: #ffcc00 !important;
    }

    .text-warning {
        color: #ffcc00 !important;
    }

    .text-light {
        color: #f1f2f6 !important;
    }

    .text-dark {
        color: #242a37 !important;
    }

    .text-danger {
        color: #ff8900 !important;
    }

    .bg-dark {
        background: #242a37 !important;
    }

    .bg-secondary {
        background: #f1f2f6 !important;
    }

    .bg-danger {
        background: #ff8900 !important;
    }

    .section-height {
        min-height: 100vh;
    }

    .btn {
        padding: 0.8em 1.5em;
        border-radius: 2em;
        border: 2px solid #ff8900;
        text-transform: uppercase;
        letter-spacing: 1.5pt;
    }

    .btn:hover {
        border-color: #ffcc00;
        color: #ff8900 !important;
    }

    body {
        font-family: 'Fira Sans', sans-serif;
        background-color: #242a37; /* Secondary Color for background */
        color: #f1f2f6; /* Neutral text color */
    }

    header {
        background-color: #232a37; /* Use a slightly darker shade for the header */
        padding: 20px;
        text-align: center;
    }

    h1, h2, h3 {
        color: #ffcc00; /* Primary Color for headings */
    }

    @media print {
        /* Reset all styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Fira Sans', sans-serif;
            background-color: #242a37;
            color: #f1f2f6;
        }

        /* New styles for the timeline section */
        .timeline-section {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 40px;
        }

        .timeline-item {
            border: 1px solid #ff8900;
            border-radius: 8px;
            padding: 24px;
            background-color: #242a37;
        }

        .timeline-item-header {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 16px;
        }

        .timeline-item-header .title {
            font-size: 1.5rem;
            font-weight: 500;
            color: #ffcc00;
        }

        .timeline-item-header .subtitle {
            font-size: 1.25rem;
            font-weight: 400;
            color: #f1f2f6;
        }

        .timeline-item-header .date {
            font-size: 1.25rem;
            font-weight: 400;
            color: #f1f2f6;
        }

        .timeline-item-body {
            font-size: 1rem;
            line-height: 1.5;
            color: #f1f2f6;
        }
    }
</style>
